<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="interfaces-diskspace-validation.ZPM">
    <Module>
      <Name>interfaces-diskspace-validation</Name>
      <Version>1.0.3</Version>
      <Description>A tool for estimating interfaces disk space and purge validation</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="InterfaceDiskSpace.PKG"/>
      
    </Module>
    
  </Document>
</Export>
